
body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
  .header {
    borderRadius: '3px';
    border: '1px solid';
    borderColor: '#e6e3e3';
    height: '60px';
    marginLeft: '10px';
    padding: '0px 10px 0px 10px';
  }

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: calc(100vh - 60px);
    margin-bottom: 40px;
}
